schemas/metacatui-project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns="http://ecoinformatics.org/project-beta1"
    targetNamespace="http://ecoinformatics.org/project-beta1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:doc="eml://ecoinformatics.org/documentation-2.2.0"
    xmlns:txt="eml://ecoinformatics.org/text-2.2.0"
    xmlns:par="eml://ecoinformatics.org/party-2.2.0"
    xmlns:proj="eml://ecoinformatics.org/project-2.2.0"
    xmlns:cit="eml://ecoinformatics.org/literature-2.2.0"
    xmlns:col="http://ecoinformatics.org/datasetcollection-beta1">
    <xs:import namespace="eml://ecoinformatics.org/documentation-2.2.0" schemaLocation="eml-documentation.xsd"/>
    <xs:import namespace="eml://ecoinformatics.org/text-2.2.0" schemaLocation="eml-text.xsd"/>
    <xs:import namespace="eml://ecoinformatics.org/party-2.2.0" schemaLocation="eml-party.xsd"/>
    <xs:import namespace="http://ecoinformatics.org/datasetcollection-beta1" schemaLocation="metacatui-collection.xsd"/>

    <xs:element name="project">
     <xs:annotation>
       <xs:appinfo>
         <doc:tooltip>Project</doc:tooltip>
         <doc:summary>A collection of datasets related or belonging to a research project, and metadata about the project.</doc:summary>
       </xs:appinfo>
     </xs:annotation>
     <xs:complexType>
      <xs:complexContent>
        <xs:extension base="col:CollectionType">
          <xs:sequence>
            <xs:element name="logo" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Logo image identifier</doc:tooltip>
                  <doc:summary>A logo image that represents the project.</doc:summary>
                  <doc:description>The identifier of the logo image for this project. May be restrictied to certain proportions or size.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="section" type="ContentSectionType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Content section</doc:tooltip>
                  <doc:summary>A section of multimedia content for display.</doc:summary>
                  <doc:description>These content sections can be used for any informational content about this project, such
                  as an overview or abstract, a description of the results with links to images and datasets, etc.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="associatedParty" type="par:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Associated party</doc:tooltip>
                  <doc:description>Contact and role information for people involved in the research project.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="acknowledgments" type="txt:TextType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Project acknowledgements</doc:tooltip>
                  <doc:summary>An acknowledgement of individuals and groups that contributed to the project.</doc:summary>
                  <doc:description>The acknowledgement field is used to provide acknowledgements
                    to any individuals or groups that may have assisted on the project but are not
                    directly related to funding or an award.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="acknowledgmentsLogo" type="ImageType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Acknowledgements Logo</doc:tooltip>
                  <doc:summary>A logo image for an acknowledged group.</doc:summary>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="award" type="ProjectAwardType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Award</doc:tooltip>
                    <doc:description>Specific information about the funding awards received by the project</doc:description>
                  </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="literatureCited" type="cit:CitationListType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:appinfo>
                    <doc:tooltip>Literature Cited</doc:tooltip>
                    <doc:description>Literature cited in any of the markdown sections</doc:description>
                  </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="filterGroup" type="FilterGroupType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Filter group</doc:tooltip>
                  <doc:summary>Filter group to display in the user interface to further subset the datasets in this project.</doc:summary>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="option" type="OptionType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Additional option</doc:tooltip>
                  <doc:summary>The OptionType allows projects to specify any custom, unstructured configuration or setting.
                  These options may be used by user interfaces to pass on display options.</doc:summary>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="ProjectAwardType">
        <xs:complexContent>
            <xs:extension base="proj:AwardType">
                <xs:sequence>
                    <xs:element name="funderLogo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo>
                              <doc:tooltip>Logo image identifier</doc:tooltip>
                              <doc:summary>A logo image of the funding agency.</doc:summary>
                              <doc:description>The identifier of the logo image for this funding agency. May be restrictied to certain proportions or size.</doc:description>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ContentSectionType">
      <xs:complexContent>
        <xs:sequence>
          <xs:element name="label" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="60"/>
              </xs:restriction>
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Section label</doc:tooltip>
                  <doc:summary>A short label for this content section.</doc:summary>
                  <doc:description>A short label to describe the content in
                    this section. It may be used in interfaces in navigation menus or a table of contents.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:simpleType>
          </xs:element>
          <xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Display image</doc:tooltip>
                <doc:summary>A high quality image for this content section.</doc:summary>
                <doc:description>An identifier or URL for a high-quality display image for this section.
                This image should be visually appealing and eye-catching. Maps, charts, and other informational
                graphics should be used in the text content.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Title</doc:tooltip>
                <doc:description>A brief title to describe this section.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="introduction" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Introduction</doc:tooltip>
                <doc:description>A paragraph of text to use as an overview, introduction, or teaser for this section.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="content" type="txt:TextType" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Content</doc:tooltip>
                <doc:description>The multimedia content to display in this section.
                These content sections can be used for any informational content about this project, such
              as an overview or abstract, a description of the results with links to images and datasets, etc.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FilterGroupType">
      <xs:sequence>
        <xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Label</doc:tooltip>
              <doc:description>A short label to display in the user interface for this filter group.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Description</doc:tooltip>
              <doc:description>A brief description of this filter group that will be displayed in the user interface as help text.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="icon" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Icon name</doc:tooltip>
              <doc:description>An icon name, chosen from a library of supported icon fonts.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element name="textFilter" type="UserInterfaceFilterType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Text filter</doc:tooltip>
                <doc:summary>A text-based filter to display in a user interface that allows the user to further subset project datasets.</doc:summary>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="dateFilter" type="UserInterfaceDateFilterType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Date filter</doc:tooltip>
                <doc:summary>A date filter to display in a user interface that allows the user to further subset project datasets.</doc:summary>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="numericFilter" type="UserInterfaceNumericFilterType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Numeric filter</doc:tooltip>
                <doc:summary>A numberic filter to display in a user interface that allows the user to further subset project datasets.</doc:summary>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="booleanFilter" type="UserInterfaceBooleanFilterType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Boolean filter</doc:tooltip>
                <doc:summary>A boolean filter to display in a user interface that allows the user to further subset project datasets.</doc:summary>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="toggleFilter" type="UserInterfaceToggleFilterType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Toggle filter</doc:tooltip>
                <doc:summary>A toggle filter to display in a user interface that allows the user to further subset project datasets.</doc:summary>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="choiceFilter" type="UserInterfaceChoiceFilterType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Choice filter</doc:tooltip>
                <doc:summary>A filter to display in a user interface that allows the user to further subset project datasets from a pre-defined list of options.</doc:summary>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UserInterfaceFilterType">
      <xs:complexContent>
        <xs:extension base="col:FilterType">
          <xs:sequence>
            <xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Label</doc:tooltip>
                  <doc:summary>A short 1-2 word label to display for this filter.</doc:summary>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="placeholder" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Placeholder</doc:tooltip>
                  <doc:summary>A short placeholder string</doc:summary>
                  <doc:description>A short placeholder string to display for this filter.
                    For example, the placeholder text to show in an HTML text input.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="icon" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Icon</doc:tooltip>
                  <doc:summary>An icon name</doc:summary>
                  <doc:description>An icon name, chosen from a library of supported icon fonts.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Description</doc:tooltip>
                  <doc:summary>A brief description of this filter.</doc:summary>
                  <doc:description>A brief description of this filter that will be displayed in the user interface as help text.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInterfaceDateFilterType">
      <xs:complexContent>
        <xs:extension base="UserInterfaceFilterType">
          <xs:sequence>
            <xs:element name="min" type="xs:date" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Minimum date</doc:tooltip>
                  <doc:description>The minimum date to display in a date picker user interface tool.</doc:description>
                  <doc:example>2004-04-12</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="max" type="xs:date" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Maximum date</doc:tooltip>
                  <doc:description>The maximum date to display in a date picker user interface tool.</doc:description>
                  <doc:example>2004-04-12</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInterfaceNumericFilterType">
      <xs:complexContent>
        <xs:extension base="UserInterfaceFilterType">
          <xs:sequence>
            <xs:element name="min" type="xs:float" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Minimum number</doc:tooltip>
                  <doc:description>The minimum number to display in a number input user interface tool.</doc:description>
                  <doc:example>1.5</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="max" type="xs:float" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Maximum number</doc:tooltip>
                  <doc:description>The maximum number to display in a number input user interface tool.</doc:description>
                  <doc:example>1.5</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>s
            <xs:element name="range" type="xs:boolean" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Range</doc:tooltip>
                  <doc:description>If true, the filter value can be set as a
                    range between the given minimum and maximum values, rather than just a single number.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="step" type="xs:float" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Step</doc:tooltip>
                  <doc:description>When the numeric filter tool is increased or
                    decreased by one unit, increase or decrease the filter value by this number.
                    For example, if the numeric filter is increased by one unit by
                    clicking an up arrow or sliding a range, the numeric filter will be
                    increased by this number. This is particularly helpful when
                    the filter should be restricted to whole numbers or allow decimals.
                  </doc:description>
                  <doc:example>1</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInterfaceBooleanFilterType">
      <xs:complexContent>
        <xs:extension base="UserInterfaceFilterType">
          <xs:sequence>
            <xs:element name="value" type="xs:boolean" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Value</doc:tooltip>
                  <doc:description>The boolean value to include in the search query - can only be either true or false.</doc:description>
                  <doc:example>true</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInterfaceToggleFilterType">
      <xs:complexContent>
        <xs:extension base="UserInterfaceFilterType">
          <xs:sequence>
            <xs:element name="trueValue" type="xs:string" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>True value</doc:tooltip>
                  <doc:description>The value to use in the query when the toggle is on.</doc:description>
                  <doc:example>f</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="trueLabel" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>True label</doc:tooltip>
                  <doc:description>A label to display in a toggle in the on position.</doc:description>
                  <doc:example>Female</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="falseValue" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>False value</doc:tooltip>
                  <doc:description>The value to use in the query when the toggle is off. If a falseValue is not specified,
                  then this filter will not be included in the query.</doc:description>
                  <doc:example>m</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="falseLabel" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>False label</doc:tooltip>
                  <doc:description>A label to display in a toggle in the off position.</doc:description>
                  <doc:example>Male</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInterfaceChoiceFilterType">
      <xs:complexContent>
        <xs:extension base="UserInterfaceFilterType">
          <xs:sequence>
            <xs:element name="choice" type="ChoiceType" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Choice</doc:tooltip>
                  <doc:description>One of many options to display in the interface as a filter value choice.</doc:description>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
            <xs:element name="chooseMultiple" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true">
              <xs:annotation>
                <xs:appinfo>
                  <doc:tooltip>Choose multiple options</doc:tooltip>
                  <doc:description>If set to true, the user is able to select multiple filter choices at once.</doc:description>
                  <doc:example>true</doc:example>
                </xs:appinfo>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ChoiceType">
      <xs:sequence>
        <xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Label</doc:tooltip>
              <doc:description>A short label to display in the user interface for this filter value.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Value</doc:tooltip>
              <doc:description>The value to use in the query when this choice is selected.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OptionType">
      <xs:annotation>
        <xs:appinfo>
          <doc:tooltip>Additional option</doc:tooltip>
          <doc:summary>The OptionType allows projects to specify any custom, unstructured configuration or setting.
          These options may be used by user interfaces to pass on display options.</doc:summary>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="optionName" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Option name</doc:tooltip>
              <doc:description>The name of this optional configuration</doc:description>
              <doc:example>primaryColor</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="optionValue" type="xs:string" minOccurs="1" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Option value</doc:tooltip>
              <doc:description>The value of this optional configuration</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ImageType">
      <xs:sequence>
        <xs:element name="identifier" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Image identifier</doc:tooltip>
              <doc:summary>An identifier or URL for the image.</doc:summary>
              <doc:example>https://knb.ecoinformatics.org/knb/d1/mn/v2/object/image.1.1</doc:example>
              <doc:example>urn:uuid:4c06a320-3087-4828-926b-123f06c51cf3</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Image label</doc:tooltip>
              <doc:description>A short image label to use in displays. This label may be used
              in the UI in areas such as in a tooltip when the image is hovered over.</doc:description>
              <doc:example>National Center for Ecological Analysis and Synthesis</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="associatedURL" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Image URL</doc:tooltip>
              <doc:description>When the image is clicked on in a UI, this is the target URL the user will be directed to.</doc:description>
              <doc:example>https://www.nceas.ucsb.edu</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

</xs:schema>
